<template>
  <div class="Home" style="padding:0px 90px;">
    <v-container>
      <v-row>
        <v-col md="6">
          <h2 style="font-weight: 800; color:#1f56ad; font-size: 60px">Selamat datang di Direktori Wisata Indonesia</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, sed? Dolore deleniti nostrum accusantium facilis nesciunt nisi itaque tenetur, assumenda nihil, consectetur aperiam impedit asperiores culpa sequi eum at iure?</p>

          <v-btn
          color="primary"
          elevation="2"
          to="/objects"
        >Info Destinasi Wisata</v-btn>

        </v-col>
        <v-col md="6" class="d-flex align-center">
          <div class="d-flex">
            <img src="https://static.thehoneycombers.com/wp-content/uploads/sites/4/2016/03/Nandiri.jpg" style="height:300px; width:100%; margin:auto; border-radius:20px;" alt="">
          </div>

        </v-col>

      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "WebIndex",
  
}
</script>
