<template>
  <div class="object" style="padding:0px 90px;">
    
    <v-text-field v-model="name" :rules="nameRules" label="Cari Objek wisata yang kamu inginkan...." required></v-text-field>

    <v-container>
      <v-row>
        <v-col md="4">
          <template>
            <v-card :loading="loading" class="mx-auto my-12" max-width="374">
              <template slot="progress">
                <v-progress-linear color="deep-purple" height="10" indeterminate ></v-progress-linear>
              </template>

              <v-img height="250" src="https://pix10.agoda.net/hotelImages/4869553/0/361de54823a1fe21058faaca71e86567.jpg?ca=24&ce=0&s=1024x768"></v-img>

              <v-card-title>Cafe Badilico</v-card-title>

              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating :value="4.5" color="amber" dense half-increments readonly size="14"></v-rating>

                  <div class="grey--text ms-4">
                    4.5 (413)
                  </div>
                </v-row>

                <div class="my-4 text-subtitle-1">
                  $ • Italian, Cafe
                </div>

                <div>Small plates, salads & sandwiches - an intimate setting with 12 indoor seats plus patio seating.</div>
              </v-card-text>

              <v-divider class="mx-4"></v-divider>
              <v-card-actions>
                <v-btn color="deep-purple lighten-2" text>
                  Reserve
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: "ObjectsIndex",
    data: () => ({
      name: '',
      loading: false,
      apiDomain: '',
      objects: [],
      nameRules: [],
    }),
    created() {
      this.apiDomain = this.$apiDomain

      const config = {
        method: 'get',
        url: this.apiDomain+'/object'
      }

      this.axios(config)
        .then(response => {
          this.objects = response.data
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        })
    }

  }
</script>