<template>

  <div class="profil" style="padding:0px 90px;  ">
    <v-container>

      <v-row style="">
        <v-col md="6">

            <div style=" box-shadow: 0 3px 10px #1f56ad; border-radius:20px; padding: 20px; ">
      
              <h2 style="text-align:center; color:#1f56ad;">Nama Profile</h2>
              <div class="div" style="width:100%; display:flex">
                <img src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png" style="margin:auto; height: 180px; width:180px; border-radius:50%; margin-top: 20px" alt="">
              </div>

              <p style="text-align:center; margin-top: 10px"><strong>Nama :</strong>Lorem Ipsum</p>
              <p style="text-align:center"><strong>Email : </strong>lorem@gmail.com</p>
              <p style="text-align:center"><strong>Alamat : </strong>Jalan Lorem ipsum</p>
            </div>
        </v-col>

        <v-col md="6">

            <div style=" padding: 20px; ">
               <h2 style="text-align:center; color:#1f56ad;">Edit Profile</h2>

               
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                  >
                    <v-text-field
                      v-model="name"
                      :counter="10"
                      :rules="nameRules"
                      label="Name"
                      required
                    ></v-text-field>

                    <v-text-field
                      v-model="email"
                      :rules="emailRules"
                      label="E-mail"
                      required
                    ></v-text-field>

                    <v-text-field
                      v-model="name"
                      :counter="10"
                      :rules="nameRules"
                      label="Alamat"
                      required
                    ></v-text-field>

                    <v-checkbox
                      v-model="checkbox"
                      :rules="[v => !!v || 'You must agree to continue!']"
                      label="Do you agree?"
                      required
                    ></v-checkbox>

                    <v-btn
                      :disabled="!valid"
                      color="primary"
                      class="mr-4"
                      @click="validate"
                    >
                      Edit Profile
                    </v-btn>

                    

                   
                  </v-form>
              
            </div>
        </v-col>
      </v-row>

    </v-container>
    

  
</div>

  
</template>
