<template>
<!-- App.vue -->
  <v-app>
    <!-- //Sidebar -->
    <v-navigation-drawer app v-model="drawer" class="d-md-none">
        <v-list class="d-md-none" >
          <v-list-item
              v-for="(item, index) in menus"
              :key="index"
              :to="item.route"
          >
              <v-list-item-icon>
              <v-icon left>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
          </v-list-item>
        </v-list>
        <template v-slot:append v-if="!guest">
          <div class="pa-2">
            <v-btn block color="red" dark> 
            <v-icon left>mdi-lock</v-icon>
              Logout
            </v-btn>
          </div>
        </template>
    </v-navigation-drawer>

    <!-- //Navbar -->
    <v-app-bar app color="white" class="d-md-block d-lg-block d-sm-none" style="padding:0px 90px;" dark>
     

      <v-icon left style="color:#1f56ad;">mdi-airballoon</v-icon>
      <v-toolbar-title style="color:#1f56ad; font-weight:800;">DW Indonesia</v-toolbar-title>
      <v-spacer/>
      <v-list style="background-color:transparent; color:black" class="d-flex">
        <v-list-item
              v-for="(item, index) in menus"
              :key="index"
              :to="item.route"
          >

              
              <v-list-item-title style="color:black;">{{ item.title }}</v-list-item-title>
              
          </v-list-item>
      </v-list>
     <v-text-field label="Another input" style="color:black">tess</v-text-field>
      
    </v-app-bar>
    <!-- Nav Mobile -->
     <v-app-bar app color="white" class="d-md-none" style="" dark>
      <v-app-bar-nav-icon class="d-md-none" style="color:black" @click.stop="drawer = !drawer" ></v-app-bar-nav-icon>

      <v-icon left style="color:#1f56ad;">mdi-airballoon</v-icon>
      <v-toolbar-title style="color:#1f56ad; font-weight:800;">DW Indonesia</v-toolbar-title>
      <v-spacer/>
      
    </v-app-bar>

    <!-- //Main -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
        
      </v-container>
    </v-main>

    <!-- //Footer -->
    <v-footer app>
      @Kelompok 7 Group 2 | PKS Digital School
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    drawer : false,
    menus : [
      {title : 'Home', icon : 'mdi-home' , route : '/'},
      {title : 'Profile', icon : 'mdi-home' , route : '/user'},
      {title : 'Objek Wisata', icon : 'mdi-home' , route : '/objects'},
      {title : 'Review', icon : 'mdi-home' , route : '/review'},
      {title : 'Rute', icon : 'mdi-home' , route : '/track'},
      {title : 'Kategori', icon : 'mdi-home' , route : '/categories'},
      
    ],
    guest : true
  }),
};
</script>
